<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='../static/styles/realtime.css')}}">
    <link rel="canonical" href="https://markjivko.com/tutorials/B3wWIsNHPk4/">
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="icon" type="image/ico" href="https://markjivko.com/favicon.ico">
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <script>
        jQuery(document).ready(function(){
            var $ = jQuery;
            var myRecorder = {
                objects:{
                    context:null,
                    stream: null,
                    recorder:null
                },
                init:function(){
                    if (null == myRecorder.objects.context){
                        myRecorder.objects.context = new(
                            window.AudioContext  || window.webkitAudioContext
                        );
                    }
                },
                start:function(){
                    var options = {audio:true,video:false};
                    navigator.mediaDevices.getUserMedia(options).then(function(stream){
                        myRecorder.objects.stream = stream;
                        myRecorder.objects.recorder = new Recorder(
                            myRecorder.objects.context.createMediaStreamSource(stream),
                            {numChannels:1}
                        );
                        myRecorder.objects.recorder.record();
                    }).catch(function(err) {});
                },
                stop:function(listObject){
                    if(null !== myRecorder.objects.stream){
                        myRecorder.objects.stream.getAudioTracks()[0].stop();
                    }
                    if(null !== myRecorder.objects.recorder){
                            myRecorder.objects.recorder.stop();

                            if(null !== listObject && 'object' === typeof listObject && listObject.length > 0 ){
                                myRecorder.objects.recorder.exportWAV(function(blob){
                                   
                                    var url = (window.URL || window.webkitURL).createObjectURL(blob);
                                    // preparing the playback
                                    
                                    var audioObject = $('<audio id="voice" controls></audio>').attr('src',url);
                                    // prepare the download link
                                    var downloadObject = $('<a>&#9660;</a>').attr('href',url).attr('download',new Date().toUTCString() + '.wav');
                                    
                                    // wrap everything in the row 
                                    var holderObject = $('<div class="row"></div>').append(audioObject).append(downloadObject);
                                   
                                    // Append to the list
                                    listObject.html(holderObject);
                                })
                            }
                    }
                }
            };
            // Prepare the recordings list
            var listObject = $('[data-role="recordings"]');

            // prepare the record button
            $('[data-role="controls"] > button ').click(function(){
                // initialize  the recorder 
                myRecorder.init();

                // get the button state
                var buttonState = !!$(this).attr('data-recording');
                
                // toggle
                if(!buttonState){
                    $(this).attr('data-recording','true');
                    myRecorder.start();
                }else{
                    $(this).attr('data-recording','');
                    myRecorder.stop(listObject);
                }
            });
        });
    </script>
</head>
<body>
    <a class="goback" href="/">Go Back</a>
    <div class="holder">
        <div data-role="controls">
            <button>Record</button>
        </div>
        <div data-role="recordings"></div>
    </div>
    
</body>
</html>