*{
    font-family: 'Lato', sans-serif;
    
}

.speechContainer{
    margin: 20px;
}

.btn{
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
}
.btn{
    cursor: pointer;
}

#speechTranscriptContainer{
    margin-top: 20px;
}
.speech{
    font-size: 18px;
    width: 500px;
}